*{
    /* box-sizing: border-box; */
    font-family: 'Montserrat';
    background-color: #79031D;
    /* background-repeat: repeat; */
 
}


nav{
    height: 70px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0px 5px 10px black;
}

.logo{
    font-family: "Sofia", sans-serif;
    color: white;
    font-size: xx-large;
    /* font-weight: bold; */
    padding-left: 30px;
    cursor: default;
    background-color: black;
}

/* .logo :hover{
    color: red;

} */

.nav-items{
    background-color: black;
}

nav a{
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    /* padding-right: 20px; */

}

nav a:hover{
    background-color: #79031D;
    color: white;
    border-radius: 30px;
    font-weight: bold;
}

#currentpage {
    background-color: #79031D;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    cursor: default;
    font-weight: bold;
}

/* Button {



}

Button:hover{

} */

#intro {
    margin-left: 0px;
    margin-right: 0px;
    height: 1000px;
}

p {
    color: white;
    justify-content: center;
    align-self: center;
    text-align: left;
    margin-left: 50px;
    padding: 30px;
    /* font-weight: bold; */
}

#name{
    font-size: 40px;
    font-family: "Sofia", sans-serif;
    color: white;
    text-align: left;
    
    justify-content: center;
    align-self: center;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}


#greeting {
    color: white;
    margin-top: 100px;
    text-align: left;
    margin-left: 50px;
    padding-left: 30px;
    font-weight: bold;
}

img {
    /* margin-top: 100px; */
    width: auto;
    height: 700px;
    align-content: right;
    align-items: right;
    padding-left: 200px;
    margin-top: 100px;

}



